<h1>Create a Step</h1>

    <%= render partial: 'layouts/errors', locals: {object: @step} %>

<%= form_for @step, html: {id: "new-step" } do |f| %>
    <%= f.label :name, "Step Name:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :category %>
    <%= f.select(:category, [ "Mind", "Body", "Mood", "Sleep", "Social" ]) %>

    <br>
    <br>

    <br><br>
    <% if !params[:course_id] %>
        <h5>Create A Course</h5>

        <%= f.fields_for :course do |c| %>
            <#% add hidden field %>
            <%= c.label :title %>
            <%= c.text_field :title %>
            <br>
            <%= c.label :description %>
            <%= c.text_area :description %>
            <br>
            <%= f.label :category %>
            <%= f.select(:category, [ "Workout", "Meditation", "Journaling"], {:prompt => "Please select"})%>
            <br>
            <%= f.label :time %>
            <%= f.number_field :time %>
        <% end %>
    <% else %>
        <h5>Add Your Step To A Course</h5>

        <%= f.label :course_id, "Choose Course" %>
            <%= f.collection_select :course_id, Course.all, :id, :title, prompt: true %>
        <% end %>
    
    <br>
    
    <%= f.submit %>
<% end %>

