<h1>Create a Step</h1>

<%= form_for(@step) do |f| %>
    <%= f.label :name, "Step Name:" %>
    <%= f.text_field :name %>
    <br>
    <%= f.label :description %>
    <%= f.text_area :description %>
    <br>
    <%= f.label :time %>
    <%= f.number_field :time, min:0 %> Minutes
    <br>
    <%= f.label :category %>
    <%= f.select(:category, [ "Mind", "Body", "Mood", "Sleep", "Social" ]) %>

    <br>
    <br>

    <h5>Add Your Step To A Course</h5>

    <%= f.label :course_id, "Choose Course" %>
        <%= f.collection_select :course_id, Course.all, :id, :title, prompt: true %>

    <br>
    <%= f.submit %>

<% end %>

