<h1>Step Name: <%= @step.name %></h1>
<h3><%= @step.category %></h3>
<p><%= @step.description %></p>
<br>

<%= link_to "Edit Step", edit_course_step_path(@course) %>
<%= link_to "Delete Step", step_path(@step), method: :delete %>