<%= form_for(@course) do |f| %>

  <%= render partial: 'layouts/errors', locals: {object: @course} %>

    <%= f.label :title %>
    <%= f.text_field :title %>

    <%= f.label :description %>
    <%= f.text_area :description %>

    <%= f.label :category %>
    <%= f.select(:category, [ "Mind", "Body", "Mood", "Sleep", "Social" ]) %>

    <%= f.label :time %>
    <%= f.number_field :time, min:0 %>Minutes

    <br><br>

        <h4>Create Your Steps:</h4>

        <%= f.fields_for :actions do |a|%>
            <%= a.label :step %>
            <%= a.number_field :step, min:0 %>

            <%= a.label :description %>
            <%= a.text_area :description %>

            <%= a.label :time %>
            <%= a.number_field :time, min:0 %> Minutes
            <br>
        <% end %>

        <br>
        
    <br><br>

    <%= f.submit %>
<% end %>