<h1><%= @course.title %> Course<h1>
<h3>Category: <%= @course.category %> </h3>
<h4>Time that should be spent on course: <%= @course.time %> Minutes </h4>
<p><%= @course.description %></p>

<!-- list the steps here -->
    <!-- should have links to the steps show page so to edit or delete-->
    <!--EX courses/1/steps/1 -->
<ol>
    <%= @course.steps.each do |step| %>
        <li><%= link_to step.name, step_path(step) %>
            <ul>
                <li><%= step.description %></li>
            </ul>
        </li>
    <% end %>
<ol>

<br>
<br>

<%= link_to "Add A Step", new_step_path %>
<!-- need the path to be new_course_step -->
    <!-- EX courses/1/steps/new -->

