<!DOCTYPE html>
<html>
  <head>
    <title>Core</title>
    <%= stylesheet_link_tag 'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
  </head>

  <body>
  <% flash.each do |key, value| %>
        <div class="alert alert-<%= key %>"><%= value %></div>
  <% end %>

  <% if logged_in? %>
    Hi, <%= link_to current_user.name, user_path(current_user) %>
    <%= link_to 'View Courses', courses_path %>
    <%= link_to 'Create Course',  new_course_path %>
    <%= link_to 'Log Out', logout_path, method: :delete %>
  <% end %>

  <div id="app-container">
    <%= yield %>
  </div>

  </body>
</html>
